/////////////////////colours//////////////////

$color-black:#000;
$color-white:#ffffff;
$color-red: #ED2024;
$color-blue: #4053A4;
$color-primary:#F58634;
$color-danger:#ff4d4f;
$color-black-alt:#141414;
$color-grey:#A0A0A0;
$color-black-light:#5A5A5A;
$color-ash:#AEAEB3;
$color-off-white:#D8D8D8;
$color-off-black:#979797;
$color-olive-black:#424B5F;
$color-green:#6FCF97;
$color-ash-light: #E5E5E5;
$color-warning: #f2d23d;
$color-black-alt-2:#303030;
$app-background: #f5f5f5;

$font-body-normal: 1.4rem;
$font-body-small: 1.2rem;
$header-text: 2rem;


$font-size-large: 2.4rem;
$font-size-medium:1.8rem;
$font-size-regular:1.4rem;
$font-size-regular-alt:1.6rem;
$font-size-semi-small: 1.2rem;
$font-size-small: 1.1rem;
$font-size-tiny:0.9rem;






/////////////////////////font size////////////////////////////







