<div class="testimonials">
    <div class="testimonials_wrapper">
      <div class="container-xxl">
        <div class="testimonials_content">
  
          <div class="col-12 col-md-7 mx-auto">
            <div class="px-3">
              <h2 class="testimonials_heading">
                TESTIMONIES
              </h2>
              <div class="mt-5">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                      aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                      aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                      aria-label="Slide 3"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <div class="testimonials_text">
                        Good morning Sir,
                        <br>
                        <br>
  
                        Thank you sir for the labour Room on Friday, I was truly blessed!
  
                        I had severe back and chest pains on Friday. During the labor room, while praying, I kept
                        stretching as I couldn't pace for long.
  
                        You gave a word concerning healing from a back pain and I received it! I slept and woke up
                        sweating but with no pain, continued with activities for the day, then I remembered the prophecy.
  
                        I am fine and I feel better than I've felt in days!
  
  
                        God forever be praised
                        Thank you sir.
                        Sis S.I
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="testimonials_text">
                        Good morning Sir,
                        <br>
                        <br>
  
                        Thank you sir for the labour Room on Friday, I was truly blessed!
  
  
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="testimonials_text">
                        Good morning Sir,
                        <br>
                        <br>
  
                        Thank you sir for the labour Room on Friday, I was truly blessed!
  
                        I had severe back and chest pains on Friday. During the labor room, while praying, I kept
                        stretching as I couldn't pace for long.
  
                        You gave a word concerning healing from a back pain and I received it! I slept and woke up
                        sweating but with no pain, continued with activities for the day, then I remembered the prophecy.
  
                        I am fine and I feel better than I've felt in days!
  
  
                        God forever be praised
                        Thank you sir.
                        Sis S.I
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>