.hero {
  .carousel {
    &-item {
      background-size: cover;
      background-position: bottom;
      background-repeat: no-repeat;
      height: 350px;

      @media screen and (min-width: 768px) {
        height: 800px;
      }

     &.first-carousel {
        background-image: url('/assets/images/bg1.png'), linear-gradient(rgba(0, 0, 0, 0.51), rgba(0, 0, 0, 0.51));
        background-blend-mode: overlay;

        .intro-text {
          font-size: 24px;
          width: 100%;
          color: white;
          text-align: center;
          line-height: 1.1;
          text-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
          font-weight: 800;

          @media screen and (min-width: 768px) {
            font-size: 68px;
          }
        }
      }

      &.second-carousel {
        background-image: url('/assets/images/bg2.png');

        .fa-event {
          font-weight: 800;
          font-size: 20px;
          line-height: 56px;
          color: #000;
          letter-spacing: 1.2em;
          text-transform: uppercase;
          margin-bottom: -100px;
        }

        // img {
        //   height: 650px;
        //   //   margin-bottom: 150px;
        //   position: absolute;
        //   top: 0;
        // }

        .cfc-btn {
          margin-top: -30px;
        }
      }
    }

    &-controls {
      justify-content: space-between;
      display: flex;
      position: absolute;
      top: 45%;
      left: 0;
      right: 0;
    }

    &-control {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      padding: 0;
      color: #fff;
      text-align: center;
      // background: 0 0;
      background: #fff;
      border-radius: 50%;
      border: 0;
      opacity: .58;
      transition: opacity .15s ease;

      @media screen and (min-width: 768px) {
        width:50px;
        height:50px;
      }
    }
  }
}

.service {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fff;

  @media screen and (min-width: 768px) {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  &-header {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: #4053A4;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
      font-size: 32px;
    }
  }

  &-card {
    &:nth-of-type(even) {
      border-left: 2px solid #BDBBBB;
      padding-left: 10px;
    }

    &:nth-of-type(odd) {
      padding-right: 10px;
    }

    @media screen and (min-width: 768px) {
      padding-left: 30px;
      padding-right: 30px;

      &:first-of-type {
        padding-left: 0 !important;
      }

      &:last-of-type {
        padding-right: 0 !important;
      }

      &:not(&:last-of-type) {
        border-right: 2px solid #BDBBBB;
      }
    }



    &-row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      row-gap: 20px;

      @media screen and (min-width: 768px) {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
        gap: 0;
      }
    }
  }

  &-location {
    font-weight: bold;
    font-size: 18px;
    line-height: 34px;
    color: #A0A0A0;
    text-transform: uppercase;
    margin-bottom: 5px;

    @media screen and (min-width: 768px) {
      font-size: 24px;
    }
  }

  &-day-time {
    font-weight: bold;
    letter-spacing: 0.04em;
    font-size: 16px;
    line-height: 21px;
    color: #4053A4;
    text-transform: capitalize;

    @media screen and (min-width: 768px) {
      font-size: 14px;
    }
  }
}

.hosts {
  position: relative;
  background-color: #4053A4;

  &_wrapper {
    padding-top: 50px;
    position: relative;
    background-color: #fff;
    border-bottom-right-radius: 120px;
    overflow: hidden;

    @media screen and (min-width: 768px) {
      border-bottom-right-radius: 250px;
    }
  }

  &-block {
    // background-image: url('/assets/images/hostss.png');
    // background-size: cover;
    // background-position: right;
    // background-repeat: no-repeat;
    // height: 500px;
    display: flex;
    flex-direction: column;


    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }

  &-image {
    max-width: 500px;
    margin-right: 0;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 20px;
    margin-bottom: -65px;

    @media screen and (min-width: 768px) {
      width: 100%;
      margin-top: 0;
      margin-bottom: -120px;
    }
  }

  &-title {
    font-weight: 800;
    font-size: 24px;
    line-height: 1;
    color: #4053A4;
    text-transform: uppercase;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
      font-size: 45px;
    }

    @media screen and (min-width: 768px) {
      font-size: 68px;
    }
  }

  &-info {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    color: #A0A0A0;
    margin-bottom: 40px;
    font-family: 'Proxima', sans-serif !important;
  }
}

.event {
  background-color: #4053A4;

  &_wrapper {
    padding-top: 50px;
    background-color: #fff;
    border-top-right-radius: 120px;


    @media screen and (min-width: 768px) {
      padding-top: 300px;
      border-top-right-radius: 250px;
    }
  }

  &-image {
    max-width: 600px;
    box-shadow: 0px 16px 24px 11px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
    overflow: hidden;
  }

  &-heading {
    color: #4053A4;
    font-weight: 800;
    font-size: 24px;
    line-height: 1.1;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
      font-size: 68px;
      margin-bottom: 50px;
    }
  }

  &-text {
    font-weight: normal;
    font-size: 24px;
    line-height: 50px;
    text-decoration-line: underline;
    color: #000000;
    font-family: 'Proxima', sans-serif !important;
  }

  &-schedule {
    margin-top: 50px;

    &>* {
      margin-bottom: 35px;
    }
  }

  &-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #A0A0A0;

    @media screen and (min-width: 768px) {
      font-size: 32px;
    }
  }

  &-time,
  &-venue {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #A0A0A0;
    margin-left: 15px;
    font-family: 'Proxima', sans-serif !important;
  }
}

.filler {
  // padding-top: 100px;
  padding-top: 50px;

  @media screen and (min-width: 768px) {
    padding-top: 200px;
  }

  // height: 200px;

  &--blue {
    background: rgba($color: #4053A4, $alpha: 0.05);
  }

  &--white {
    background: #fff;
    border-bottom-left-radius: 50px;

    @media screen and (min-width: 768px) {
      border-bottom-left-radius: 250px;
    }
  }
}

